
@use '../custom' as *;
$homepage : "https://sb-slim.github.io/easy-bank-challenge-frontend/";
$localURL: "http://localhost:3000/";
.image{
    width: 100%;
    height: 45%;
    position: absolute;
    background: url($homepage + "assets/bg-intro-desktop.svg") no-repeat top 41% right -30%;
    background-attachment: local;
    background-size: 59%;


    @include media-breakpoint-down(lg){
    width: 100%;
    height: 2%;
    position: static;
    display: inline-block;
    
  background: url($homepage + "assets/bg-intro-desktop.svg") no-repeat center;
    background-attachment: local;
    background-size: 100%;
    }
}
.image-1{
    width: 100%;
    height: 80%;
    position: absolute;
    z-index: 1;
    background: url($homepage + "assets/image-mockups.png") no-repeat top 165% right -10%;
    background-attachment: local;
    background-size: 40%;
    @include media-breakpoint-down(lg){
    display: none;
    }
}

.section{
    
    h1 {
        color: $primary;
    }

&-title{
    width: 50%;
    @include media-breakpoint-down(lg){
        width: 300px;
        margin: auto;

    }
}
}


